{% extends "base.html" %}

{% block content %}

<div class="col-md-12">
  {% if form.errors %}
  <p>Неправильный логин или пароль</p>
  {% endif %}

  {% if next %}
      {% if user.is_authenticated %}
      <p>У вас нет достопа к этой странице</p>
      {% else %}
      <p>Войдите, чтобы увидеть эту страницу</p>
      {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </div>
    <div>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </div>

    <div>
      <input type="submit" value="Войти" />
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </form>


</div>
{% endblock %}
